html, body {
  overflow-y: visible;
}

a:link {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
  
a:visited {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
  
a:hover {
    text-decoration: underline;
    color: black;
    font-size: 15px;
}
  
a:active {
    text-decoration: underline;
    color: black;
    font-size: 15px;
}

.container{
    background-color: #971B2F;
    border-radius: 12px;
    margin: 5%;
    box-shadow: 5px 10px #424141;
}

#image{
    clear: both;
    margin-left: 20%;
    margin-right: 20%;
}

#tags{
    border: #3d3d3d 2px solid;
    background-color: #ffffff;
    margin: 3%;
    margin-right: 8%;
    float: right;
    padding: 1px;
    font-size: 15px;
}

img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 5%;
}

.standardBox{
    border-radius: 8px;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 1%;
}