span b { 
  font-size: 150%;
  font-weight: bold
}

.middle {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.post-container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3% !important;
  padding-right: 3% !important;
}

.post-img {
  min-height: 150px !important;
  min-width: 100% !important;
  border-radius: 8px;
}

.p-6,
.pt-6,
.py-6 {
  padding-top: 6rem !important;
}

.p-6,
.pr-6,
.px-6 {
  padding-right: 6rem !important;
}

.p-6,
.pb-6,
.py-6 {
  padding-bottom: 6rem !important;
}

.p-6,
.pl-6,
.px-6 {
  padding-left: 6rem !important;
}

.profile-head {
  transform: translateY(5rem)
}

.profile-picture {
  object-fit: cover;
  width: 150px !important;
  height: 150px !important;
}

.overlay-container {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 100ms;
  top: 5%;
  visibility: hidden;
  min-width: 100% !important;
  min-height: 70% !important;
}

.overlay {
  background-color: white;
  border: 4px solid #971B2F;
  box-shadow: 0 0 3px #aaa;
  color: black;
  height: auto;
  padding-top: 5px;
}

#display-post-container {
  position: absolute;
  z-index: 40;
}

#change-profile-picture-container {
  position: absolute;
  z-index: 30;
}

#change-password-container {
  position: absolute;
  z-index: 20;
}

#edit-profile-container {
  position: absolute;
  z-index: 10;
}

#profile-picture-cover {
  margin: 8px 0px 0px 8px;
  position: relative;
}

#profile-picture-cover:hover .profile-picture {
  transition: opacity 0.2s, visibility 0s;
  opacity: 0.6;
}

#recent-posts {
  overflow-y: scroll;
  position: relative;
}

#recent-posts::-webkit-scrollbar {
  display: none;
}

#show-all-posts:hover, #back-to-home:hover {
  color: black !important;
}

#back-to-home {
  position: absolute;
  top: 30px;
  left: 25px;
  text-decoration: none;
  color: white;
}

#profile-container {
  overflow-y: hidden;
  /* overflow-y: scroll; */
  max-height: 95vh !important;
  margin-top: 2vh;
}

#new-profile-picture {
  width: 80%;
}

#main-container {
  padding-top: 0px !important;
}

#display-picture {
  object-fit: cover;
  width: 100%;
}

#post-description-container {
  border: 1px solid rgba(200, 200, 200, 0.5);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}