span b { 
  font-size: 150%;
  font-weight: bold
}

.middle {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.p-6,
.pt-6,
.py-6 {
  padding-top: 6rem !important;
}

.p-6,
.pr-6,
.px-6 {
  padding-right: 6rem !important;
}

.p-6,
.pb-6,
.py-6 {
  padding-bottom: 6rem !important;
}

.p-6,
.pl-6,
.px-6 {
  padding-left: 6rem !important;
}

.profile-head {
  transform: translateY(5rem)
}



#change-profile-picture-container {
  opacity: 1;
  position: absolute;
  transition: 100ms;
  visibility: hidden;
  z-index: 10;
}

#change-profile-picture-overlay {
  background-color: white;
  border: 4px solid #971B2F;
  box-shadow: 0 0 3px #aaa;
  color: black;
  height: auto;
  padding-top: 5px;
}

#change-password-container {
  opacity: 1;
  position: absolute;
  transition: 100ms;
  top: 5%;
  visibility: hidden;
  z-index: 20;
}

#change-password-overlay {
  background-color: white;
  border: 4px solid #971B2F;
  box-shadow: 0 0 3px #aaa;
  color: black;
  height: auto;
  padding-top: 5px;
}

#edit-overlay-container {
  opacity: 1;
  position: absolute;
  transition: 100ms;
  top: 5%;
  visibility: hidden;
  z-index: 10;
}

#edit-profile-overlay {
  background-color: white;
  border: 4px solid #971B2F;
  box-shadow: 0 0 3px #aaa;
  color: black;
  height: auto;
  padding-top: 5px;
}

#profile-container {
  max-height: 85%;
  transition: 100ms;
}

#profile-picture-editable {
  margin: 8px 0px 0px 8px;
  position: relative;
}

#profile-picture-editable:hover .profile-picture {
  transition: opacity 0.2s, visibility 0s;
  opacity: 0.6;
}

#recent-posts {
  overflow-y: scroll;
  height: 650px;
}

#recent-posts::-webkit-scrollbar {
  display: none;
}

#show-all-posts:hover {
  color: black !important;
}