html, body {
  overflow-y: visible;
}

#image{
    clear: both;
    margin-left: 20%;
    margin-right: 20%;
}

#tags{
    border: #757575 2px solid;
    background-color: #e4e3e3;
    margin: 3%;
    margin-right: 8%;
    float: right;
    padding: 1px;
    font-size: 15px;
}

img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 5%;
}

.standardBox{
    border-radius: 8px;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 1%;
}